@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primay-color: #393e46;
    --secondary-color: #222831;
}

body {
    background-color: var(--primay-color);
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primay-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    background-color: var(--primay-color);
}

.search::placeholder {
    color: #00adb5;
}

main {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie_info {
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie_info span {
    background-color: var(--primay-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie_info span.green {
    color: #62d2a2;
}

.movie_info span.orange {
    color: #f07b3f;
}

.movie_info span.red {
    color: #850e35;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.1s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}
